{
    "extends": "airbnb/legacy",
    "rules": {
        "block-scoped-var": [0],
        "id-length": [0],
        "comma-dangle": [2, "never"],
        "quotes": [ 2, "double" ],
        "semi": [ 0, "never" ],
    },
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
      "$": true,
      "L": true,
    },
}
