 <div id="map"></div>


 <form id="example">
  <label for="crime">What Type Of Crime Is It?</label>
  <select name="crime" id="crime">
    <option value="Joker Gassing">Joker Gassing</option>
    <option value="Mugging">Mugging</option>
    <option value="Home Invasion">Home Invasion</option>
    <option value="Car Theft">Car Theft</option>
  </select>

  <label for="description">In your own words please explain what happened</label>
  <input type="text-area" name="" id="description">

  <input type="checkbox" name="" id="happened_before"> This has happened before
  <input type="submit" value="Submit">

</form> 

<div id='batmap-modal'></div>

