
 <nav id='filters' class='filter-ui'></nav>
 <div id="map"></div>

 <% if !current_user %>
  <button id="example">
    <%= link_to 'Login', '/auth/facebook' %>
  </button>
 <% else %>



  <% end %>





